<meta charset="UTF-8">
<hr />

<p>layout: default</p>

<h2>title: Categories</h2>

<p><main class="container">
  <h1>Blog Posts</h1>
  <section>
    <div class="grid">
      {% for post in site.posts %}
        {% if post.categories contains category %}
        <article>
          {% if post.image %}
          <figure>
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
          </figure>
          {% endif %}
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p><small>Posted on {{ post.date | date: "%B %d, %Y" }}</small></p>
          {% if post.excerpt %}
          <div>{{ post.excerpt }}</div>
          {% endif %}
          <footer>
            <div role="group">
              <a href="{{ post.url | relative_url }}" role="button" class="secondary" aria-label="Read more about {{ post.title }}">Read More</a>
            </div>
          </footer>
        </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</main></p>
